<head>
  <meta charset="utf-8">
  <title>SH24</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui, width=device-width, height=device-height">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link href="{{ site.baseurl }}/assets/css/ratchet.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/css/fontello.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/css/ratchet_styles.css" rel="stylesheet">
  <script src="{{ site.baseurl }}/assets/js/main.js"></script>
</head>
