.inline-form {
  h1,
  input,
  select {
    font-size: 34px;
    line-height: 50px;
  }
  input,
  select {
    background: #eee;

    -webkit-appearance: none;
    appearance: none;
    outline: 0;

    -webkit-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
    border: none;

    padding: 0;
    margin: 0;
    height: auto;
    width: auto;

    margin-top: 10px;
  }
  .content {
    padding-bottom: 44px;
    padding-top: 40px;
  }
  .table {
    border-spacing: 30px;
    display: table;
    height: 100%;
    width: 100%;
  }
  .content-padded {
    vertical-align: middle;
    display: table-cell;
  }
  header {
    border: none;
    height: 40px;
  }
}

