.no-border { border: none }
.table {
  display: table;
  height: 100%;
  width: 100%;

  .row {
    display: table-row;
  }
  .cell {
    display: table-cell;
  }
}
.postcode {
  text-transform: uppercase;
}
.chain-sentence,
.inline-form {
  input,
  select {
    background: #eee;

    -webkit-appearance: none;
    appearance: none;
    outline: 0;

    -webkit-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
    border: none;

    padding: 0;
    margin: 0;
    height: auto;
    width: auto;

    margin-top: 10px;
  }
  progress {
    -webkit-appearance: none;
    border: none;

    display: block;
    margin: 10px 0;
    height: 5px;
    width: 100%;

    &::-webkit-progress-bar {
      background: #efefef;
    }
    &::-webkit-progress-value {
      background: #ddd;
    }
  }
}

.inline-form {
  h1,
  input,
  select {
    font-size: 34px;
    line-height: 50px;
  }
  .content {
    padding-bottom: 44px;
    padding-top: 40px;
  }
  .content-padded {
    vertical-align: middle;
  }
  .table {
    border-spacing: 30px;
  }
  header {
    border: none;
    height: 40px;
  }
}
.chain-sentence {
  h1,
  input,
  select {
    font-size: 20px;
    line-height: 24px;
  }
  .hide {
    display: none
  }
  .card {
    margin: 10px 0;
  }
  .postcode-wrapper {
    display: inline-block;
  }
  .postcode,
  .postcode-search {
    height: 25px;
  }
  .postcode-search {
    background-color: #eee;

    -webkit-appearance: none;
    appearance: none;
    outline: 0;

    -webkit-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
    border: none;
    margin-left: -6px;

    &:after {
      font-family: Ratchicons;
      font-size: 18px;
      content: '\e819';
      height: 20px;
      width: 20px;
    }
  }
  .end {
    text-align: center;
    padding: 60px;
  }
}
.icon-form {
  .table {
    border-spacing: 30px;
  }
  .cell {
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    opacity: 0.6;
    width: 113px;

    i {
      font-size: 80px;
      padding: 10px 0;
      cursor: pointer;
      width: 100px;
      color: black;
    }
    h1,
    .icon-male,
    .fa-male,
    .icon-female,
    .fa-female {
      background-color: rgb(200,200,200);
    }
    h1 {
      padding: 10px 3px;
    }
  }
  .sexual-preference,
  .gender {
    & input {
      visibility: hidden;
      display: none;
    }
  }
  input:checked + label {
    opacity: 1;
  }
}
