html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Montreal Regular";
  src: local("Montreal-Regular");
}

@font-face {
  font-family: "Montreal Bold";
  src: local("Montreal-Bold");
}

body {
  margin: 30px;
  font-size: 17px;
  font-family: "Montreal Regular";
  color: #3C464F;
}

h1, h2 {
  font-family: "Montreal Bold";
}

body > h3 {
  text-decoration: underline;
}

body > h3:after {
  content: ":"
}

.accordion h3 {
  color: #ffffff;
  margin: 2px;
  background-color: #06b0d9;
  width: 350px;
  padding: 10px;
}

.colour-swatch {
  color: #FFFFFF;
  float: left;
  width: 200px;
  height: 200px;
}

.pink {
  background-color: #EE7678;
}

.light-blue {
  background-color: #3FBBCC;
}

.medium-blue {
  background-color: #06B0D9;
}

.light-grey {
  background-color: #DADADA;
}

.dark-grey {
  background-color: #3C464F;
}

.white {
  border: 1px black solid;
  background-color: #FFFFFF;
  color: #3C464F;
}

.lead p {
  font-family: "Montreal Bold";
  font-size: 200%;
  color: #3fbbcc;
}

strong {
  font-family: "Montreal Bold";
}

.colon-icon {
  float: right;
}

a {
  color: #3FBBCC;
  font-weight: 700;
}

input[type=button] {
  color: #ffffff;
  background: #3FBBCC;
  border: none;
  height: 45px;
  min-width: 10%;
}

.form-elements {
  margin: 10px;
}

input[type=text] {
  background-color: #dadada;
  height: 45px;
  width: 10%;
  font-size: 17px;
}

::-webkit-input-placeholder {
  color: #dadada;
}

:-moz-placeholder { /* Firefox 18- */
  color: #dadada;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #dadada;
}

:-ms-input-placeholder {
  color: #dadada;
}

